body {
	/*font-family: 'Lato', sans-serif;
    font-weight: 300;*/
    font-size: 24px;
	background-color: #48A882;
	margin-left: 100px;
	margin-right: 100px;
	color: #fff;

}

header{
    font-family: 'Crafty Girls', cursive;
    font-size: 56px;
    text-shadow: 4px 4px 4px #aaa;
	text-align: center;
	margin-bottom: 0px;
	
	
}

h1{
    font-family: 'Crafty Girls', cursive;
    font-size: 32px;
    text-shadow: 4px 4px 4px #aaa;
	text-align: center;
	margin-bottom: 0px;
	
}	

#board{
	
	width: 770px;
	max-height: 700px;
	margin: 0 auto;
	margin-top: 100px; 
	border-color: #FFD41F;
	border-style: dotted;
	border-width: 10px;

}

.flip {
    -webkit-perspective: 800px;
    width: 180px;
	height: 160px;
	margin: 0px;
	position: relative;
	display: inline-table;
}

.flipped {
  -webkit-transform: rotatex(-180deg);
}

.pic{
	width: 180px;
	height: 160px;
}

#board > div{
	width: 180px;
	height: 160px;
	margin: 0px;
	display: inline-table;

}
.card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 1;
    
}

.front {
 
    position: absolute;
   z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}

.btn{
	margin: 0 auto;
	margin-top: 50px; 
	display: block;
} 

 